body {
    background: #E9EBEE;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

nav.navbar {
    background: #4967AD;
    color: white;
}

nav.navbar a, nav.navbar a:visited {
    color: white;
}

.profile-full-name {
    position: relative;
    left: 220px;
    top: 9px;
    font-size: 23px;
}

.app-container {
    position: relative;
    top: 80px;
}

.card {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    background-color: white;
    border-radius: 2px;
}

.title-block {
    color: #424242;
}

.login-block {
    background: white;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

.login-block input {
    margin: 25px 0px;
}

.error-block {
    color: red;

    text-align: center;
}

.error-block ul {
    list-style: none;
    padding: 0;
    list-style-type: none;
}

.photo img {
    width: 100%;
    height: 100%;
}