.container {
    margin: auto auto;
    top: 40px !important;
}

.cover-photo {
    width: 100%;
    height: 165px;
    position: relative;
    background: #4967AD;
}

.profile-pic {
    width: 170px;
    height: 170px;
    border: 5px solid white;
    position: absolute;
    background: #873EFC;
    border-radius: 5px;

    bottom: -30px;
    left: 30px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
}

.profile-tab {
    width: 100%;
    height: 50px;
    background: white;
    box-sizing: border-box;

    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.layout {
    display: flex;
    margin-top: 20px;
}

.layout > div:nth-child(1) {
    width: 320px;
    margin-right: 20px;
}

.layout > div:nth-child(2) {
    flex: 1;
}

.bio {
    width: 100%;
    height: 280px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;

    top: 70px;
    position: sticky;
}

.makepost .menu {
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    background: #F6F7F9;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.makepost .textarea {
    width: 100%;
    height: 70px;
    background-color: white;
    margin-top: -1px;
    border: 1px solid #ccc;
}

.textarea textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
}

.makepost .footer {
    width: calc(100% + 2px);
    height: 50px;
    background: white;
    margin-top: -1px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    position: relative;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.makepost .footer .button {
    right: 10px;
    top: 10px;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background: #4967AD;
    position: absolute;
    cursor: pointer;
}

.timeline-post {
    width: 100%;
    border-radius: 5px;
    background: white;
    border: 1px solid #ccc;
    margin-top: 20px;
    position: relative;
}

.pseudo {
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 0.9em;
    color: #58595b;
}

.timeline-post .timeline-profile {
    box-sizing: border-box;
    padding: 15px;
}

.timeline-post .photo {
    width: 100%;
    height: 300px;
}

.timeline-post .footer {
    width: 100%;
    height: 40px;
    background: white;
    border-top: 1px solid #cbcbcb;
    display: flex;
}

.timeline-profile .img {
    width: 55px;
    height: 55px;
    display: inline-block;
    background: #7C4AF3;
    border-radius: 50%;
    overflow: hidden;
}

.timeline-profile {
    display: flex;
}

.timeline-profile .text {
    border-radius: 3px;
    position: relative;
    left: 15px;
    top: 0px;
    flex-grow: 1;
    display: inline-block;
}

.tweet-text {
    margin-top: 2px;
}

.timeline-profile .img img {
    width: 100%;
    height: 100%;
}

.bio-elem {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.like {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    padding: 9px;
    color: red;
}

.ilikeit {
    flex: 1;
    padding: 8px;

}

.ilikeit label {
    cursor: pointer;
    color: #4967AD;
}