<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/template/template.xhtml">

    <ui:define name="css-styles">
        <link rel="stylesheet" href="#{request.contextPath}/css/timeline.css"/>
    </ui:define>

    <ui:define name="title">Home</ui:define>

    <ui:define name="content">
        <main class="container app-container">
            <div class="container">
                <div class="cover-photo">
                    <div class="profile-pic">
                        <h:graphicImage value="#{timelineBean.userProfile.profilePicture}"/>
                    </div>
                </div>
                <div class="profile-tab">
                    <div class="profile-full-name">
                        <h:outputText
                                value="#{timelineBean.userProfile.firstName} #{timelineBean.userProfile.lastName}"/>
                    </div>
                </div>
                <div class="layout">
                    <div>
                        <div class="bio">
                            <div class="bio-elem">
                                <h:outputText
                                        value="#{timelineBean.userProfile.firstName} #{timelineBean.userProfile.lastName}"/>
                            </div>
                            <div class="bio-elem">
                                <h:outputText value="@#{timelineBean.userProfile.nickName}"/>
                            </div>
                            <div class="bio-elem">
                                <h:outputText value="#{timelineBean.userProfile.email}"/>
                            </div>
                            <div class="bio-elem">
                                <h:outputText value="#{timelineBean.userProfile.subscriptionDate}">
                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                </h:outputText>
                            </div>
                            <div class="bio-elem">
                                <h:outputText value="#{timelineBean.userProfile.tweetsNb} tweets"/>
                            </div>
                            <div class="bio-elem">
                                <h:outputText value="#{timelineBean.userProfile.likedTweets} tweets liked"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h:form id="tweetForm">
                            <div class="makepost">
                                <div class="menu"></div>

                                <div class="textarea">
                                    <h:inputTextarea binding="#{postedTweet}" id="tweetInput"/>
                                </div>
                                <div class="footer">
                                    <p:remoteCommand name="postTweet"
                                                     actionListener="#{timelineBean.postTweet(postedTweet.value)}"
                                                     oncomplete="twttr.onPostTweetCompleted()"/>
                                    <p:commandButton type="button" value="Post" onclick="postTweet()"
                                                     styleClass="button"/>
                                </div>
                            </div>
                        </h:form>
                        <h:form>
                            <h:panelGroup id="tweetTimeline">
                                <ui:repeat value="#{timelineBean.getTimelineTweets()}" var="tweet">
                                    <div class="timeline-post" id="tw-#{tweet.id}">
                                        <div class="timeline-profile">
                                            <div class="img"><h:graphicImage value="#{tweet.userImage}"/>
                                            </div>
                                            <div class="text">
                                                <div class="pseudo">
                                                    @#{tweet.userNickName}
                                                </div>
                                                <div class="tweet-text">
                                                    #{tweet.text}
                                                </div>
                                            </div>
                                            <div class="post-date">
                                                <h:outputText value="#{tweet.postDate}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                                                </h:outputText>
                                            </div>
                                        </div>
                                        <c:if test="${not empty tweet.image}">
                                            <div style="background: #F44336" class="photo">
                                                <h:graphicImage value="#{tweet.image}"/>
                                            </div>
                                        </c:if>
                                        <div class="footer">
                                            <ui:fragment rendered="#{!tweet.liked}">
                                                <div class="ilikeit">
                                                    <h:outputLabel
                                                            onclick="likeTweet([{name:'tweetId', value:'#{tweet.id}'}])">I like it !</h:outputLabel>
                                                </div>
                                            </ui:fragment>
                                            <ui:fragment rendered="#{tweet.liked}">
                                                <div class="ilikeit">
                                                    <h:outputLabel
                                                            onclick="unlikeTweet([{name:'tweetId', value:'#{tweet.id}'}])">I don't like it anymore !</h:outputLabel>
                                                </div>
                                            </ui:fragment>
                                            <p:remoteCommand name="likeTweet"
                                                             actionListener="#{timelineBean.likeTweet()}"
                                                             oncomplete="twttr.onLikeCompleted()"/>
                                            <p:remoteCommand name="unlikeTweet"
                                                             actionListener="#{timelineBean.unlikeTweet()}"
                                                             oncomplete="twttr.onUnlikeCompleted()"/>
                                            <div class="like">
                                                <div class="like-counter">
                                                    #{tweet.likes}
                                                </div>
                                                <i class="material-icons">
                                                    favorite
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </h:panelGroup>
                            <p:poll interval="3" update="tweetTimeline"/>
                        </h:form>
                    </div>
                </div>
            </div>
        </main>
    </ui:define>
</ui:composition>
</html>
