<!DOCTYPE html>
<html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                template="WEB-INF/template/template.xhtml">


    <ui:define name="content">
        <main class="container app-container">
            <div class="login-block">
                <h:form styleClass="form-signin">

                    <h1 class="h3 mb-3 font-weight-normal">Welcome on twitter !</h1>

                    <h:inputText binding="#{userEmail}" styleClass="form-control" pt:placeholder="Email address"
                                 id="inputEmail" pt:type="email"/>

                    <h:inputText binding="#{userPassword}" styleClass="form-control" pt:placeholder="Password"
                                 id="inputPassword" pt:type="password"/>

                    <h:commandButton styleClass="btn btn-lg btn-primary btn-block" value="Sign in"
                                     action="#{userBean.login(userEmail.value, userPassword.value)}"/>

                    <div class="error-block">
                        <h:messages showSummary="true" showDetail="false"/>
                    </div>

                    <h:outputLink value="registration.xhtml">Create a new account now !</h:outputLink>
                </h:form>
            </div>
        </main>
    </ui:define>
</ui:composition>
</html>
