<!DOCTYPE html>
<html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                template="WEB-INF/template/template.xhtml">


    <ui:define name="content">
        <main class="container app-container">
            <div class="login-block">
                <h:form styleClass="form-signin">

                    <h1 class="h3 mb-3 font-weight-normal">Create your account</h1>

                    <h:inputText value="#{registrationBean.firstName}" styleClass="form-control"
                                 pt:placeholder="Firstname"
                                 id="firstName"/>

                    <h:inputText value="#{registrationBean.lastName}" styleClass="form-control"
                                 pt:placeholder="Lastname"
                                 id="lastName"/>

                    <h:inputText value="#{registrationBean.email}" styleClass="form-control"
                                 pt:placeholder="Email address"
                                 id="emailAddress" pt:type="email"/>

                    <h:inputText value="#{registrationBean.nickName}" styleClass="form-control"
                                 pt:placeholder="Nickname"
                                 id="nickName"/>

                    <h:inputText value="#{registrationBean.password}" styleClass="form-control"
                                 pt:placeholder="Password"
                                 id="inputPassword" pt:type="password"/>

                    <h:commandButton styleClass="btn btn-lg btn-primary btn-block" value="Register"
                                     action="#{registrationBean.validate()}"/>

                    <div class="error-block">
                        <h:messages showSummary="true" showDetail="false"/>
                    </div>
                </h:form>
            </div>
        </main>
    </ui:define>
</ui:composition>
</html>
