<!DOCTYPE html>


<html xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
>

<h:head>
    <title><ui:insert name="title"/></title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="#{request.contextPath}/css/style.css"/>
    <ui:insert name="css-styles"/>
</h:head>

<h:body>
    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand" href="#">Twitter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <c:if test="#{userBean.isAuthenticated()}">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h:outputLink styleClass="nav-link" value="#{request.contextPath}/app/timeline.xhtml">
                            <h:outputText value="Timeline"/>
                        </h:outputLink>
                    </li>
                </ul>
            </c:if>
        </div>
    </nav>
    <main class="container app-container">
        <div class="title-block">
            <ui:insert name="section-title"/>
        </div>
        <ui:insert name="content"/>
    </main>
    <h:outputScript library="primefaces" name="jquery/jquery.js"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"/>
    <script src="#{request.contextPath}/js/main.js"/>
</h:body>

</html>